body {
    background: #1A2A33;
    align-items: center;
    height: 100vh;
}

/*
styles for new game starts here
*/

#new-game {
    display: block;
}

.new-game-menu {
    text-align: center;
    margin: 7.438rem 1.5rem;
}   

.choose-xo {
    background: #1F3641;
    box-shadow: inset 0px -8px 0px #10212a;
    border-radius: 15px;
    box-sizing: border-box;
    margin: 1.5rem 0;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.choose-xo h3 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    color: #A8BFC9;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.choose-xo h4 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #A8BFC9;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-top: 1.063rem;
}

.xo-images-choose {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17.438rem;
    padding: 9px 8px;
    margin: 0px 24px;
    background: #1A2A33;
    border-radius: 10px;
}

.for-x {
    cursor: pointer;
    align-items: center;
    width: 12.4rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 900;
    font-size: 40.3px;
    line-height: 32px;
    letter-spacing: 2.5px;
    color: #A8BFC9;
    transition: 0.3s
}

.for-x:hover, .for-o:hover  {
    background: rgba(168, 191, 201, 0.05);
    border-radius: 10px;
}

.forHover:hover {
    background: #A8BFC9;
}

.for-o {
    cursor: pointer;
    align-items: center;
    width: 12.4rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 900;
    font-size: 40.3px;
    line-height: 32px;
    letter-spacing: 2.5px;
    color: #A8BFC9;
    transition: 0.3s
}

.forHover {
    background: #A8BFC9;
    border-radius: 10px;
    color: #1A2A33;
}

.img-sizes {
    height: 2rem;
    margin: 11px 50px;
}

.img-x-o {
    height: 2rem;
}

.game-vs-player {
    background: #F2B137;
    box-shadow: inset 0px -8px 0px #cc8b13;
    border-radius: 15px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    color: #1A2A33;
    padding: 14px 76px 22px 74px;
    border: none;
}

.game-vs-player:hover {
    background: #FFC860;
    box-shadow: inset 0px -8px 0px #cc8b13;
    border-radius: 15px;
}

.game-vs-cpu {
    background: #31C3BD;
    box-shadow: inset 0px -8px 0px #118c87;
    border-radius: 15px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    color: #1A2A33;
    padding: 14px 71px 22px 60px;
    margin-top: 16px;
    border: none;
}

.game-vs-cpu:hover {
    background: #65E9E4;
    box-shadow: inset 0px -8px 0px #118C87;
    border-radius: 15px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 100;
    transition: all 0.5s;
}

/*
styles for new game ends here
////////////////////////////////////////////////////////////////////////////////////
*/
#game-board {
    display: none;
    flex-direction: column;
    padding: 23px;
    /* display: flex; */
    margin: auto;
    max-width: 20.625rem;
}

.turn-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.turn-button {
    display: flex;
    height: 40px;
    background: #1F3641;
    box-shadow: inset 0px -4px 0px #10212a;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #A8BFC9;
    border: none;
    width: 96px;
    align-items: center;
    justify-content: space-around;
}

.x-for-turn {
    height: 1rem;
}

#turn-o {
    display: none;
}

.turn-img {
    height: 2.5rem;
}
/* this is styles for game blocks  */
.game-box {
    width: 6rem;
    height: 6rem;
    background: #1F3641;
    box-shadow: inset 0px -8px 0px #10212A;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-box img {
    height: 2.5rem;
}

.game-area {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.score-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.score-container h4 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #1A2A33;
}

.score-container h3 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1.25px;
    color: #1A2A33;
}

.your-score {
    background: #31C3BD;
    border-radius: 10px;
    width: 6rem;
    height: 3.25rem;
    padding-top: 0.75rem;
}

.ties {
    background: #A8BFC9;
    border-radius: 10px;
    width: 6rem;
    height: 3.25rem;
    padding-top: 0.75rem;
}

.cpu-score {
background: #F2B137;
    border-radius: 10px;
    width: 6rem;
    height: 3.25rem;
    padding-top: 0.75rem;
}

.player-o-win {
    display: none;
    position: absolute;
    z-index: 101;
    top: 40%;
    width: 100%;
    height: 9.25rem;
    background: #1F3641;
    /* display: flex; */
    padding: 40px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s
}

.player-o-win h5 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #A8BFC9;
    text-transform: uppercase;
}

.img-player-o-win {
    display: flex;
    justify-content: space-between;
}

.img-player-o-win img {
    height: 1.875rem;
    margin-right: 1rem;
}

.img-player-o-win h2 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 1.5px;
    color: #F2B137;
}

.img-player-x-win {
    display: flex;
}

.player-x-win h5 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-align: center;
    letter-spacing: 0.875px;
    color: #A8BFC9;
    text-transform: uppercase;
}

.img-player-x-win img {
    width: 1.75rem;
    margin-right: 1rem;
}

.img-player-x-win h2 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.875rem;
    letter-spacing: 1.5px;
    color: #31C3BD;
}

.button-quit {
    background: #A8BFC9;
    width: 4.75rem;
    height: 3.25rem;
    box-shadow: inset 0px -4px 0px #6B8997;
    border-radius: 10px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    color: #1A2A33;
    border: none;
    margin-right: 1rem;
}

.button-quit:hover  {
    background: #DBE8ED;
    box-shadow: inset 0px -4px 0px #6b8997;
    border-radius: 10px;
}

.button-next-round {
    background: #F2B137;
    width: 9.125rem;
    height: 3.25rem;
    box-shadow: inset 0px -4px 0px #CC8B13;
    border-radius: 10px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    color: #1A2A33;
    border: none;
}

.button-next-round:hover {
    background: #FFC860;
    box-shadow: inset 0px -4px 0px #CC8B13;
    border-radius: 10px;
}

.player-x-win {
    display: none;
    position: absolute;
    top: 40%;
    width: 100%;
    z-index: 101;
    height: 9.25rem;
    background: #1F3641;
    /* display: flex; */
    padding: 40px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.restart-game {
    display: none;
    position: absolute;
    top: 43%;
    width: 100%;
    z-index: 101;
    height: 6.25rem;
    background: #1F3641;
    /* display: flex; */
    padding: 64px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.restart-game h2 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.875rem;
    text-align: center;
    letter-spacing: 1.5px;
    color: #A8BFC9;
}

.button-div {
    display: flex;
    align-items: center;
}

.button-cancel {
    background: #A8BFC9;
    width: 9rem;
    height: 3.25rem;
    box-shadow: inset 0px -4px 0px #6B8997;
    border-radius: 10px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
    letter-spacing: 1px;
    color: #1A2A33;
    border: none;
    margin-right: 1rem;
}

.button-restart {
    background: #F2B137;
    width: 9.125rem;
    height: 3.25rem;
    box-shadow: inset 0px -4px 0px #CC8B13;
    border-radius: 10px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    color: #1A2A33;
    border: none;
}

.player-1-win {
    display: none;
    position: absolute;
    top: 42%;
    width: 100%;
    height: 9.25rem;
    z-index: 101;
    background: #1F3641;
    /* display: flex; */
    padding: 40px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.player-1-win h5 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-align: center;
    letter-spacing: 0.875px;
    color: #A8BFC9;
}

.img-player-1-win {
    display: flex;
    align-items: center;
}

.img-player-1-win img {
    width: 1.875rem;
    margin-right: 1rem;
}

.img-player-1-win h2 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.875rem;
    letter-spacing: 1.5px;
    color: #F2B137;
}

.player-2-win {
    display: none;
    position: absolute;
    top: 42%;
    width: 100%;
    z-index: 101;
    height: 9.25rem;
    background: #1F3641;
    /* display: flex; */
    padding: 40px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.player-2-win h5 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-align: center;
    letter-spacing: 0.875px;
    color: #A8BFC9;
}

.img-player-2-win {
    display: flex;
    align-items: center;
}

.img-player-2-win img {
    width: 1.875rem;
    margin-right: 1rem;
}

.img-player-2-win h2 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.875rem;
    letter-spacing: 1.5px;
    color: #F2B137;
}

.round-tied {
    display: none;
    position: absolute;
    top: 42%;
    width: 100%;
    height: 9.25rem;
    z-index: 101;
    background: #1F3641;
    /* display: flex; */
    padding: 40px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.round-tied h2 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    line-height: 1.875rem;
    text-align: center;
    letter-spacing: 1.5px;
    color: #A8BFC9;
}

.button-quit-tied {
        background: #A8BFC9;
        width: 5rem;
        height: 3.25rem;
        box-shadow: inset 0px -4px 0px #6b8997;
        border-radius: 10px;
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.25rem;
        text-align: center;
        letter-spacing: 1px;
        color: #1A2A33;
        border: none;
        margin-right: 1rem;
}

.button-quit-tied:hover  {
    background: #DBE8ED;
    box-shadow: inset 0px -4px 0px #6b8997;
    border-radius: 10px;
}

/* @media screen and (min-width: 500px) {
    .turn-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 64px;
        width: 77%;
        margin-left: 52px;
    }

    .game-area {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        width: 77%;
        justify-content: center;
        margin-left: 54px;
    }

    .score-container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        width: 77%;
        margin-left: 52px;
    }


} */



@media screen and (min-width: 768px) {

    #new-game {
        display: block;
    }
    
    .new-game-menu {
        text-align: center;
        margin: 14.128rem 9.625rem;
    }

    .choose-xo {
        margin: 3rem 0;
    }

    .xo-images-choose {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24.438rem;
        padding: 9px 8px;
        margin: 0px 24px;
        background: #1A2A33;
        border-radius: 10px;
    }

    .game-vs-player {
        width: 28.6rem;
        background: #F2B137;
        box-shadow: inset 0px -8px 0px #cc8b13;
        border-radius: 15px;
        font-family: 'Outfit';
        font-style: normal;
        border: none;
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.25rem;
        text-align: center;
        letter-spacing: 1px;
        color: #1A2A33;
        padding: 14px 76px 22px 74px;
    }

    .game-vs-cpu {
        width: 28.6rem;
        background: #31C3BD;
        box-shadow: inset 0px -8px 0px #118c87;
        border-radius: 15px;
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.25rem;
        text-align: center;
        letter-spacing: 1px;
        border: none;
        color: #1A2A33;
        padding: 14px 39px 22px 60px;
        margin-top: 16px;
    }

    #game-board {
        display: none;
        padding: 12.563rem 9.625rem;
        max-width: 28.75rem;
        margin: auto;
    }

    .turn-button {
        display: flex;
        height: 3.25rem;
        background: #1F3641;
        box-shadow: inset 0px -4px 0px #10212a;
        border-radius: 5px;
        text-transform: uppercase;
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.875px;
        color: #A8BFC9;
        border: none;
        width: 8.5rem;
        justify-content: space-evenly;
        align-items: center;
    }

    h5 {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.25rem;
        text-align: center;
        letter-spacing: 1px;
        color: #A8BFC9;
    }

    .game-box {
        width: 8.75rem;
        height: 8.75rem;
    }

    .game-box img {
        height: 4rem;
    }

   
    .your-score {
        width: 8.75rem;
        
    }

    .game-box-hover-x {
        background-image: url(./assets/icon-x-outline.svg);
        background-repeat: no-repeat;
        background-position: 50%;
       
    }
    
    .game-box-hover-o {
        background-image: url(./assets/icon-o-outline.svg);
        background-repeat: no-repeat;
        background-position: 50%;
    }

    .ties {
        width: 8.75rem;
    }

    .cpu-score {
        width: 8.75rem;
    }

    .score-container h3 {
        font-size: 1.5rem;
    }

    .player-o-win {
        display: none;
        position: absolute;
        top: 61%;
        width: 100%;
        height: 11.25rem;
        background: #1F3641;
        /* display: flex; */
        padding: 44px 0px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .player-o-win h5 {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.25rem;
        text-align: center;
        letter-spacing: 1px;
        color: #A8BFC9;
    }

    .img-player-o-win {
        display: flex;
        justify-content: space-between;
        /* margin-top: 1.438rem; */
        align-items: center;
    }

   .img-player-o-win h5 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-align: center;
    letter-spacing: 0.875px;
    color: #A8BFC9;
   }

    .img-player-o-win img {
        height: 4rem;
        margin-right: 1rem;
    }

    .img-player-o-win h2 {
        font-size: 2.5rem;
    }

    .player-x-win {
        display: none;
        position: absolute;
        top: 61%;
        width: 100%;
        height: 11.25rem;
        background: #1F3641;
        /* display: flex; */
        padding: 44px 0px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .player-x-win h5 {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.125rem;
        text-align: center;
        letter-spacing: 1.875px;
        color: #A8BFC9;
        text-transform: uppercase;
    }

    .img-player-x-win {
        display: flex;
        justify-content: space-between;
        margin-top: 1.438rem;
        align-items: center;
    }

    .img-player-x-win img {
        width: 4rem;
        margin-right: 1rem;
    }

    .img-player-x-win h2 {
        font-size: 2.5rem;
    }

    .restart-game {
        display: none;
        position: absolute;
        top: 61%;
        width: 100%;
        height: 8.25rem;
        background: #1F3641;
        /* display: flex; */
        padding: 4rem 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .restart-game h2 {
        font-size: 2.5rem;
        line-height: 1.875rem;
        margin-bottom: 1.938rem;
    }

    .player-1-win {
        display: none;
        position: absolute;
        top: 61%;
        width: 100%;
        height: 11.25rem;
        background: #1F3641;
        /* display: flex; */
        padding: 40px 0px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .player-1-win h5 {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.25rem;
        text-align: center;
        letter-spacing: 1px;
        color: #A8BFC9;
    }

    .img-player-1-win {
        display: flex;
        justify-content: space-between;
        margin-top: -0.562rem;
        align-items: center;
    }

    .img-player-1-win h2 {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 1.875rem;
        letter-spacing: 1.5px;
        color: #F2B137;
    }

    .img-player-1-win img {
        width: 4rem;
        margin-right: 1rem;
    }

    .player-2-win {
        display: none;
        position: absolute;
        top: 61%;
        width: 100%;
        height: 11.25rem;
        background: #1F3641;
        /* display: flex; */
        padding: 2.5rem 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .img-player-2-win {
        display: flex;
        justify-content: space-between;
        /* margin-top: 1.438rem; */
        align-items: center;
    }

    .img-player-2-win h2 {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 1.875rem;
        letter-spacing: 1.5px;
        color:  #31C3BD;
    }

    .player-2-win h5 {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.25rem;
        text-align: center;
        letter-spacing: 1px;
        color: #A8BFC9;
    }

    .img-player-2-win img {
        width: 4rem;
        margin-right: 1rem;
    }

    .round-tied {
        display: none;
        position: absolute;
        top: 61%;
        width: 100%;
        height: 8.25rem;
        background: #1F3641;
        /* display: flex; */
        padding: 68px 0px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

   .round-tied h2 {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 3.125rem;
        text-align: center;
        letter-spacing: 2.5px;
        color: #A8BFC9;

   }

   .button-cancel {
        background: #A8BFC9;
        width: 9rem;
        height: 3.25rem;
        box-shadow: inset 0px -4px 0px #6b8997;
        border-radius: 10px;
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.25rem;
        text-align: center;
        letter-spacing: 1px;
        color: #1A2A33;
        border: none;
        margin-right: 1rem;
   }
}

@media screen and (min-width: 1440px) {
    


    #new-game {
        display: flex;
        margin: 13.438rem 1.5rem;
        flex-direction: column;
        align-items: center;
    }
    .choose-xo {
        margin: 3rem 0;
        width: 28.75rem;
    }

    #game-board {
        display: none;
        height: 100vh;
        padding: 0;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
    .turn-container {
        display: flex;
        width: 28.5rem;
        justify-content: space-between;
        margin-bottom: 1.188rem;
    }
    .turn-button {
        margin-left: -31px;
        
    }

    .game-area {
        display: flex;
        width: 28.75rem;
        flex-wrap: wrap;
        gap: 1.25rem;
        justify-content: center;
    }

    .score-container {
        display: flex;
        width: 28.75rem;
        justify-content: space-between;
        margin-top: 1.25rem;
    }

    .player-o-win {
        display: none; 
        top:  35%;
        padding: 43px 0px;
    }

    .player-x-win {
        height: 11.25rem;
        display: none;
        top: 35%;
        padding: 43px 0px;
    }

    .restart-game {
        height: 11.25rem;
        display: none;
        top: 35%;
        padding: 43px 0px;
    }

    .player-1-win {
        display: none;
        top: 35%;
        padding: 43px 0px;
    }

    .player-2-win {
        display: none;
        top: 35%;
        padding: 43px 0px;
    }

    .round-tied {
        display: none;
        top: 35%;
        padding: 43px 0px;
    }

}
